<?xml version="1.0"?>
<Service xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Directories>
    <Directory>
      <LocalPath>V:\VideoRecorder\ArgusTV</LocalPath>
      <NetworkPath>\\jochen1\ArgusTV</NetworkPath>
      <Usage>Recording Timeshift</Usage>
    </Directory>
  </Directories>
  <Name>JMSRTP</Name>
  <Port>47636</Port>
  <DeviceFactoryTypeName>JMS.ArgusTV.RtpDevice.DeviceFactory, JMS.ArgusTV.RtpDevice</DeviceFactoryTypeName>
  <NameComparerPropertyName>InvariantCultureIgnoreCase</NameComparerPropertyName>
  <DeviceNames>
    <string>Dummy</string>
  </DeviceNames>
</Service>